.timer
{
    width:100%;
    height:200px;
    background-image:url(../images/crowed.png);
}
.tim ul
{
	float:left;
	text-transform:capitalize;
	margin-top:30px;
}
.tim li
{
	list-style:none;
	display:inline;
	margin:35px 60px;
	color:#f7f6f9;
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    
    
}
.tim
{
	float:left;
}
.tim a
{
	color:#f6f6f8;
	text-decoration:none;
}
.tim a:hover
{
	color:#f7500f;
}
