footer
        {
            width:100%;
            height:60px ;
            background-color: rgb(2, 6, 42);
        }
        .copyRight
        {
            font-size:15px ;
            text-align: left;
            color: darkslategray;
            padding:20px ;
            margin-left:200px ;
        }
        span
        {
            color: rgb(4, 32, 239);
        }